@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium, body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  color: #BFA181;
  background-color: #0A1828;
}
body h1#job-add {
  display: flex;
  justify-content: center;
}
body h1#job-add {
  margin: 10px 0;
}
body li {
  list-style: none;
}
body a {
  text-decoration: none;
  color: #BFA181;
}
body a:hover {
  text-decoration: underline;
}
body #logo {
  width: 300px;
}
body .head-nav {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 10px;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
}
body .head-nav #logo-title {
  color: #178582;
}
body nav {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
body #job-annonces-title {
  justify-content: center;
  margin: 0;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
body .container {
  min-height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .container-of-jobs {
  display: flex;
  align-items: center;
  justify-content: center;
}
body #job-container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
body #jobs-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
body #jobs-list li {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style-type: none;
  flex: 1 1 300px;
  max-width: 100%;
}
body .see-more-link {
  color: #007bff;
  font-weight: bold;
  text-decoration: none;
}
body .see-more-link:hover {
  text-decoration: underline; /* Underline on hover */
}
body .login-form {
  background: #178582;
  padding: 40px;
  border: 1px solid white;
  border-radius: 5px 5px 5px 5px;
}
body .login-form h1 {
  display: flex;
  justify-content: center;
}
body .login-form input#email {
  width: 100%;
  border-radius: 5px 5px 5px 5px;
  border: none;
}
body .login-form input#password {
  width: 100%;
  border-radius: 5px 5px 5px 5px;
  border: none;
}
body .login-form button#login_button {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  background-color: #BFA181;
  color: white;
  border-radius: 5px 5px 5px 5px;
  border: none;
}
body .container-job-detail {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
body .container-job-detail h2#job-annonces-title {
  margin-top: 40px;
}
body .container-job-detail h1#job-title {
  text-decoration: underline;
  margin-bottom: 30px;
  font-size: 50PX;
}
body .container-job-detail hr#first-hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
body .container-job-detail hr#sec-hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
body .container-job-dets {
  display: flex;
  justify-content: center;
}
body .container-job-dets input {
  width: 100%;
}
body .container-job-dets input#address {
  margin-bottom: 15px;
}
body .container-job-dets form {
  width: 400px;
}
body .container-job-dets form fieldset {
  border: none;
}
body .container-job-dets p#contact-inf-p {
  margin: 10px 0;
  text-decoration: underline;
}

footer {
  text-align: center;
  height: auto;
}