@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
*,
*::before,
*::after {
    box-sizing: content-box;
}
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: "Oswald";
    background: linear-gradient(236.56deg, #2C2D65 0.35%, #201F22 100%);
}

h2 {
    text-align: center;
    display: block;
    margin-bottom: 30px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}




form {
    max-width: 450px;
    padding: 10px 15px;
    margin:auto;
    margin-top: 10%;
    border : 2px solid white;
    border-radius: 20px;
    background: white;
    
}
form > p {
    background-color: white;
}

#submit {
    text-align: center;
}

#submit {
    width: 300px;
    background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
    display: block;
    border: 5px solid black;
    border-radius:12px;
    margin: 0 auto;
    background-color: initial;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    padding: 0 20px;
    margin-top: 10px;
}


#submit:hover {
    box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
    }

input {
    border-radius: 35px;
}

label {
    padding-bottom:5px;
}

.group-item {
    display: grid;
}

input[type=submit] {
    width: 100%;
    color: white;
    padding: 10px 0px;
    background-color: black;
    margin-top: 20px;
}

.success {
    color: green;
}

.error {
    color: red;
}

.msg {
    display: none;
}