*,
*::before,
*::after {
    box-sizing: content-box;
}
*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(236.56deg, #2C2D65 0.35%, #201F22 100%);
}
.container {
    max-width: 1110px;
    height: 700px;
    margin: 0 auto;
    
}


form {
    max-width: 450px;
    padding: 10px 15px;
    margin:auto;
    margin-top: 10%;
    border : 2px solid white;
    border-radius: 20px;
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    
}
form > p {
    background-color: white;
}

#submit {
    text-align: center;
}

#submit {
    width: 300px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    display: block;
    border: 5px solid black;
    border-radius: 12px;
    margin: 0 auto;

}