*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0px;
    padding: 0px;
}

div{
    width: 100%;
    height: 100px;

}
.container {
    background-color: yellow;
    margin: 0px auto;
}
.grid-container {
    background-color: blue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
}
#didi:nth-child(1){
    background-color: red;
}
#didi:nth-child(2){
    background-color: purple;
}
#didi:nth-child(3){
    background-color: orange;
}
#didi:nth-child(4){
    background-color: black;
}
#didi:nth-child(5){
    background-color: magenta;
}
#didi:nth-child(6){
    background-color: green;
}
/*For mobile*/
@media(min-width:426px) and (max-width: 768px) {
    .grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
/*For tablet*/
@media(min-width: 768px) {
    .grid-container{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
}